<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppId</key>
	<string>415789243347763</string>
	<key>Study Title</key>
	<string>SafeSip</string>
	<key>Team Name</key>
	<string>Treehacks &lt;3</string>
	<key>Email</key>
	<string>aakritil@stanford.edu</string>
	<key>Phone</key>
	<string>704-293-0705</string>
	<key>Copyright</key>
	<string></string>
	<key>Website</key>
	<string>https://cardinalkit.org</string>
	<key>Tint Color</key>
	<string>#b6133f</string>
	<key>Primary Color</key>
	<string>#ff3961</string>
	<key>Review Consent Step Text</key>
	<string>Review Consent Form</string>
	<key>Reason for Consent Text</key>
	<string>Consent to join the SafeSip community and the Alcohol-overdose prevention effort</string>
	<key>Consent File Name</key>
	<string>My Consent Form</string>
	<key>Passcode Text</key>
	<string>Now you will create a passcode to identify yourself to the app and protect access to information you&apos;ve entered.</string>
	<key>Passcode Type</key>
	<string>4</string>
	<key>Completion Step Title</key>
	<string>Welcome aboard.</string>
	<key>Completion Step Text</key>
	<string>This step concludes the onboarding and consent process of the SafeSip App. Next up, you will see main app functionality.</string>
	<key>Health Permissions Title</key>
	<string>Permission to read Accelerometer Data</string>
	<key>Health Permissions Text</key>
	<string>We use this data to predict negative health outcomes related to alcohol.</string>
	<key>Health Records</key>
	<dict>
		<key>Enabled</key>
		<false/>
		<key>Permissions Title</key>
		<string>Permission to read Health Records 🏥</string>
	</dict>
	<key>Background Read Frequency</key>
	<string>immediate</string>
	<key>Sign In With Google</key>
	<true/>
	<key>Sign In With Email</key>
	<false/>
	<key>Withdrawal Instruction Title</key>
	<string>Are you sure you want to withdraw from using the SafeSip app?</string>
	<key>Withdrawal Instruction Text</key>
	<string>Withdrawing from registration will reset the app to the state it was in prior to you originally downloaded the app.</string>
	<key>Withdraw Title</key>
	<string>We appreciate your time.</string>
	<key>Withdraw Text</key>
	<string>Thank you for downloading SafeSip. We are sorry that you decided not to continue using it. The app will now close.</string>
	<key>Passcode On Return Text</key>
	<string>Welcome back!</string>
	<key>Consent Title</key>
	<string>SafeSip User Consent Form</string>
	<key>Use CareKit</key>
	<true/>
	<key>Consent Form</key>
	<dict>
		<key>Overview</key>
		<dict>
			<key>Title</key>
			<string>Hi there! 👋🏽</string>
			<key>Summary</key>
			<string>SafeSip is an innovative application crafted to enhance personal safety through digital health monitoring. Utilizing advanced sensor technologies, including accelerometers, SafeSip offers a dynamic approach to managing alcohol consumption.</string>
			<key>Content</key>
			<string>SafeSip is an innovative application crafted to enhance personal safety through digital health monitoring. Utilizing advanced sensor technologies, including accelerometers, SafeSip offers a dynamic approach to managing alcohol consumption. By providing real-time feedback on intoxication levels, our app aims to prevent potential overindulgence and ensure a safer social experience. We are excited for you to explore SafeSip&apos;s capabilities and look forward to seeing the positive impact it will have on your well-being and social interactions.





</string>
		</dict>
		<key>DataGathering</key>
		<dict>
			<key>Title</key>
			<string>Data Gathering</string>
			<key>Summary</key>
			<string>SafeSip collects data related to gait, movement patterns, and physiological parameters through your device&apos;s accelerometer and digital health sensors. This information allows us to provide real-time assessments of intoxication levels, offering timely warnings and advice to help manage alcohol consumption. The collection of this data is crucial for the app&apos;s functionality in promoting safer drinking habits and preventing hazardous outcomes.</string>
			<key>Content</key>
			<string>SafeSip collects data related to gait, movement patterns, and physiological parameters through your device&apos;s accelerometer and digital health sensors. This information allows us to provide real-time assessments of intoxication levels, offering timely warnings and advice to help manage alcohol consumption. The collection of this data is crucial for the app&apos;s functionality in promoting safer drinking habits and preventing hazardous outcomes.</string>
		</dict>
		<key>Privacy</key>
		<dict>
			<key>Title</key>
			<string>Privacy</string>
			<key>Summary</key>
			<string>At SafeSip, we are deeply committed to safeguarding the privacy and security of our participants&apos; data. We employ state-of-the-art encryption and security measures to ensure that all information is securely stored and protected against unauthorized access. Access to personal data is strictly limited to authorized SafeSip team members who are trained in data protection protocols and need this information to perform their duties. We do not share or sell your data to third parties without your explicit consent.</string>
			<key>Content</key>
			<string>At SafeSip, we are deeply committed to safeguarding the privacy and security of our participants&apos; data. We employ state-of-the-art encryption and security measures to ensure that all information is securely stored and protected against unauthorized access. Access to personal data is strictly limited to authorized SafeSip team members who are trained in data protection protocols and need this information to perform their duties. We do not share or sell your data to third parties without your explicit consent.</string>
		</dict>
		<key>DataUse</key>
		<dict>
			<key>Title</key>
			<string>Data Use</string>
			<key>Summary</key>
			<string>Our team uses the collected data to continuously improve SafeSip&apos;s accuracy and effectiveness in assessing intoxication levels and providing actionable insights. We also use aggregated, anonymized data for research and development purposes to better understand drinking patterns and improve public health strategies related to alcohol consumption. Individual data is never used for research without explicit consent.</string>
			<key>Content</key>
			<string>Our team uses the collected data to continuously improve SafeSip&apos;s accuracy and effectiveness in assessing intoxication levels and providing actionable insights. We also use aggregated, anonymized data for research and development purposes to better understand drinking patterns and improve public health strategies related to alcohol consumption. Individual data is never used for research without explicit consent.</string>
		</dict>
		<key>TimeCommitment</key>
		<dict>
			<key>Title</key>
			<string>Time Commitment</string>
			<key>Summary</key>
			<string>Participation in SafeSip requires minimal time commitment from our users. The app runs discreetly in the background, monitoring movement and physiological parameters during periods of alcohol consumption. Users may occasionally be prompted to provide feedback or complete brief surveys to enhance app performance and user experience.</string>
			<key>Content</key>
			<string>Participation in SafeSip requires minimal time commitment from our users. The app runs discreetly in the background, monitoring movement and physiological parameters during periods of alcohol consumption. Users may occasionally be prompted to provide feedback or complete brief surveys to enhance app performance and user experience.</string>
		</dict>
		<key>StudySurvey</key>
		<dict>
			<key>Title</key>
			<string>Study Survey</string>
			<key>Summary</key>
			<string>SafeSip may include short, voluntary surveys designed to gather feedback on your experiences with the app and your drinking habits. These surveys are crucial for tailoring the app to better suit our users&apos; needs and contribute to our understanding of effective interventions for safer alcohol consumption.</string>
			<key>Content</key>
			<string>SafeSip may include short, voluntary surveys designed to gather feedback on your experiences with the app and your drinking habits. These surveys are crucial for tailoring the app to better suit our users&apos; needs and contribute to our understanding of effective interventions for safer alcohol consumption.</string>
		</dict>
		<key>StudyTasks</key>
		<dict>
			<key>Title</key>
			<string>Study Tasks</string>
			<key>Summary</key>
			<string>The app may present tasks such as self-reporting alcohol intake or performing simple physical activities to calibrate the app&apos;s sensors. These tasks are designed to be non-intrusive and can be completed at your convenience. Participation in these tasks helps SafeSip provide more accurate and personalized feedback.</string>
			<key>Content</key>
			<string>The app may present tasks such as self-reporting alcohol intake or performing simple physical activities to calibrate the app&apos;s sensors. These tasks are designed to be non-intrusive and can be completed at your convenience. Participation in these tasks helps SafeSip provide more accurate and personalized feedback.</string>
		</dict>
		<key>Withdrawing</key>
		<dict>
			<key>Title</key>
			<string>Withdrawing</string>
			<key>Summary</key>
			<string>Participants have the right to withdraw from using SafeSip at any time without any consequences. If you decide to withdraw, you can simply uninstall the app from your device. Upon request, we can also delete all personal data associated with your account from our servers. Please note that anonymized and aggregated data used in prior analyses cannot be removed, but it will not be linked to your identity.</string>
			<key>Content</key>
			<string>Participants have the right to withdraw from using SafeSip at any time without any consequences. If you decide to withdraw, you can simply uninstall the app from your device. Upon request, we can also delete all personal data associated with your account from our servers. Please note that anonymized and aggregated data used in prior analyses cannot be removed, but it will not be linked to your identity.</string>
		</dict>
	</dict>
	<key>Onboarding</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Real-time Monitoring</string>
			<key>Description</key>
			<string></string>
			<key>Logo</key>
			<string>ActivityIcon</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Comprehensive Inbody Alcohol Statistics</string>
			<key>Description</key>
			<string></string>
			<key>Logo</key>
			<string>DataIcon</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Multi-modal Digital Sensors</string>
			<key>Description</key>
			<string></string>
			<key>Logo</key>
			<string>WatchIcon</string>
		</dict>
	</array>
	<key>Contacts</key>
	<array>
		<dict>
			<key>givenName</key>
			<string>James</string>
			<key>familyName</key>
			<string>P</string>
			<key>title</key>
			<string>Roommate</string>
			<key>role</key>
			<string></string>
			<key>phone</key>
			<string>646-812-0398</string>
			<key>text</key>
			<string>646-812-0398</string>
			<key>street</key>
			<string>70 Morningside Dr</string>
			<key>city</key>
			<string>New York</string>
			<key>state</key>
			<string>NY</string>
			<key>postalCode</key>
			<string>10027</string>
		</dict>
		<dict>
			<key>givenName</key>
			<string>Alan</string>
			<key>familyName</key>
			<string>M</string>
			<key>title</key>
			<string>Brother</string>
			<key>role</key>
			<string></string>
			<key>phone</key>
			<string>(324) 555-7415</string>
			<key>text</key>
			<string>(324) 555-7415</string>
			<key>street</key>
			<string>United Nations</string>
			<key>city</key>
			<string>New York</string>
			<key>state</key>
			<string>NY</string>
			<key>postalCode</key>
			<string>10025</string>
		</dict>
		<dict>
			<key>givenName</key>
			<string>Aakriti</string>
			<key>familyName</key>
			<string>L</string>
			<key>title</key>
			<string>Sister</string>
			<key>role</key>
			<string></string>
			<key>phone</key>
			<string>(324) 555-7415</string>
			<key>text</key>
			<string>(324) 555-7415</string>
			<key>street</key>
			<string>385 Campus Drive</string>
			<key>city</key>
			<string>Stanford</string>
			<key>state</key>
			<string>CA</string>
			<key>postalCode</key>
			<string>98325</string>
		</dict>
		<dict>
			<key>givenName</key>
			<string>Akshay</string>
			<key>familyName</key>
			<string>M</string>
			<key>title</key>
			<string>Professor</string>
			<key>role</key>
			<string></string>
			<key>phone</key>
			<string>(324) 555-7415</string>
			<key>text</key>
			<string>(324) 555-7415</string>
			<key>street</key>
			<string>One Apple Park Way</string>
			<key>city</key>
			<string>Cupertino</string>
			<key>state</key>
			<string>CA</string>
			<key>postalCode</key>
			<string>95012</string>
		</dict>
	</array>
	<key>Use Cloud Surveys</key>
	<false/>
</dict>
</plist>
