<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281223930916-s9ttij3nlc18ce546aquaht9drfi96tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281223930916-s9ttij3nlc18ce546aquaht9drfi96tu</string>
	<key>API_KEY</key>
	<string>AIzaSyABVT50tb7Gkreht7ua5kY1v4OPH7LW2ko</string>
	<key>GCM_SENDER_ID</key>
	<string>281223930916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safesip</string>
	<key>PROJECT_ID</key>
	<string>guardian-dcf69</string>
	<key>STORAGE_BUCKET</key>
	<string>guardian-dcf69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281223930916:ios:2ad5808ef5e5b20d7824b1</string>
</dict>
</plist>